In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
import re

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('./'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

plt.close('all')

./Titanic Tutorial.ipynb
./my_submission.csv
./input/test.csv
./input/gender_submission.csv
./input/train.csv
./.ipynb_checkpoints/Titanic Tutorial-checkpoint.ipynb

In [2]:
train_data = pd.read_csv("./input/train.csv")
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
test_data = pd.read_csv("./input/test.csv")
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [4]:
women = train_data.loc[train_data.Sex == 'female']["Survived"]
rate_women = sum(women)/len(women)

print("% of women who survived:", rate_women)

% of women who survived: 0.7420382165605095

In [5]:
men = train_data.loc[train_data.Sex == 'male']["Survived"]
rate_men = sum(men)/len(men)

print("% of men who survived:", rate_men)

% of men who survived: 0.18890814558058924

In [ ]:
train_data.columns

In [10]:
#pd.qcut(train_data['Fare'], 4)
pd.cut(train_data['Age'].astype(int), 5)

0      (16.0, 32.0]
1      (32.0, 48.0]
2      (16.0, 32.0]
3      (32.0, 48.0]
4      (32.0, 48.0]
           ...
886    (16.0, 32.0]
887    (16.0, 32.0]
888    (16.0, 32.0]
889    (16.0, 32.0]
890    (16.0, 32.0]
Name: Age, Length: 891, dtype: category
Categories (5, interval[float64]): [(-0.08, 16.0] < (16.0, 32.0] < (32.0, 48.0] < (48.0, 64.0] < (64.0, 80.0]]

#### Функция для замены строковых значений численными

In [ ]:
def make_conv(df, cname, dictname):
    if not dictname.get(cname):
        dictname[cname] = dict()      
    for c in sorted(set(df[cname])):
        if not dictname[cname].get(c):
            dictname[cname][c] = len(dictname[cname])
    return [conv[cname][x] for x in df[cname]]

conv = dict()

#### Гистограммы атрибутов

In [ ]:
train_data.hist(figsize=(20, 12))

In [ ]:
train_data.nunique()

In [ ]:
train_data.agg(['count', 'min', 'max'])

#### Кол-во NaN в атрибутах

In [ ]:
for c in train_data.columns:
    if sum(train_data[c] != train_data[c]):
        print(c, sum(train_data[c] != train_data[c]))

#### Получить фамилию из имени

In [ ]:
train_data["LName"] = list(map(lambda x: x[:x.find(',')], train_data["Name"]))

In [ ]:
train_data.corr()

#### Построить heatmap

In [ ]:
corr = train_data.corr()

sns.set(style="white")

# Generate a mask for the upper triangle
mask = np.triu(np.ones_like(corr, dtype=np.bool))

# Set up the matplotlib figure
f, ax = plt.subplots(figsize=(11, 9))

# Generate a custom diverging colormap
cmap = sns.diverging_palette(220, 10, as_cmap=True)

# Draw the heatmap with the mask and correct aspect ratio
sns.heatmap(corr, mask=mask, cmap=cmap, vmax=.6, center=0,
            square=True, linewidths=.5, cbar_kws={"shrink": .5})

#### Обработка поля Age

In [9]:
# train_data[list(map(lambda x: x in set(train_data[train_data["Age"] != train_data["Age"]]["LName"]), train_data["LName"]))].sort_values(by="Name").head(20)
train_data[train_data["Age"] != train_data["Age"]].corr()
train_data["Age"].fillna(train_data["Age"].median(), inplace=True)
train_data.corr(method="pearson")

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
PassengerId,1.000000,-0.005007,-0.035144,0.034212,-0.057527,-0.001652,0.012658
Survived,-0.005007,1.000000,-0.338481,-0.064910,-0.035322,0.081629,0.257307
Pclass,-0.035144,-0.338481,1.000000,-0.339898,0.083081,0.018443,-0.549500
Age,0.034212,-0.064910,-0.339898,1.000000,-0.233296,-0.172482,0.096688
SibSp,-0.057527,-0.035322,0.083081,-0.233296,1.000000,0.414838,0.159651
Parch,-0.001652,0.081629,0.018443,-0.172482,0.414838,1.000000,0.216225
Fare,0.012658,0.257307,-0.549500,0.096688,0.159651,0.216225,1.000000

In [ ]:
train_data.corr(method='spearman')

#### Преборазование Sex, Pclass и Emarked

train_data["Sex"] = make_conv(train_data, "Sex", conv)
train_data["Pclass"] = [1/x for x in train_data["Pclass"]]
train_data["Embarked"].fillna("N", inplace=True)
train_data["Embarked"] = make_conv(train_data, "Embarked", conv)

#### Разбить Cabin на букву и цифру

In [ ]:
# train_data[list(map(lambda x: x in set(train_data[train_data["Cabin"] == train_data["Cabin"]]["LName"]), train_data["LName"]))].sort_values(by="Name").head(50)
# train_data[list(map(lambda x, y: x & y, train_data["Pclass"] != 1, train_data["Cabin"] == train_data["Cabin"]))]
train_data["CabinL"] = list(map(lambda x: re.findall(r'[A-Za-z]', x)[-1], train_data["Cabin"].fillna('Z')))
#train_data["CabinL"] = make_conv(train_data, "CabinL", conv)
train_data["CabinN"] = list(map(lambda x: int((re.findall(r'\d+', x) or [1])[-1]), train_data["Cabin"].fillna('0')))
train_data["CabinP"] = list(map(str, train_data["CabinN"] // 50))

#### SibSp Parch

In [ ]:
train_data["SibSpT"] = train_data["SibSp"] > 0
train_data["ParchT"] = train_data["Parch"] > 0

#### Age

In [ ]:
train_data["Age_Old"] = train_data["Age"].apply(lambda x: int(x > 60))
train_data["Age_Baby"] = train_data["Age"].apply(lambda x: int(x <= 1))
train_data["Age_Baby2"] = train_data["Age"].apply(lambda x: int(1 < x <= 5))
train_data["Age_Baby3"] = train_data["Age"].apply(lambda x: int(5 < x <= 14))
train_data["Age_Teen"] = train_data["Age"].apply(lambda x: int(14 < x <= 30))
train_data["Age_Grown"] = train_data["Age"].apply(lambda x: int(30 < x <= 60))

In [ ]:
sns.pairplot(train_data.join(train_data["Age"].apply(lambda x: 14 < x < 30), rsuffix='_a')[["Survived", "Age_a", "Age"]], hue = "Age_a", kind='scatter', diag_kind='kde', corner=True, height=8)

In [ ]:
sns.pairplot(train_data[["Survived", "Age"]], kind='scatter', hue="Survived", diag_kind='kde', corner=True, height=8)

In [ ]:
for c in train_data.columns:
    if sum(train_data[c] != train_data[c]):
        print(c, sum(train_data[c] != train_data[c]))
        
train_data.drop("Survived", axis=1)
print(train_data.groupby(by=[train_data["Cabin"] == train_data["Cabin"], "Pclass", "CabinL", "Survived"]).size())
print(train_data.groupby(by=["Pclass", "Survived"]).size())

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split

['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'LName', 'CabinL',
       'CabinN', 'CabinP', 'Ticket_numeric', 'SibSpT', 'ParchT', 'Age_Old',
       'Age_Baby', 'Age_Baby2', 'Age_Baby3', 'Age_Teen', 'Age_Grown']

features = ["Sex", 'Age_Old', 'Age_Baby', "Pclass", 'SibSpT', 'ParchT', 'CabinN', 'CabinP']

x_train = pd.get_dummies(train_data[features])
y_train = train_data["Survived"]

clf_rf = RandomForestClassifier(n_estimators=100, max_depth=8, random_state=1)
# разбиваем на два подмножества / фолда, параметр cv и получаем точность для каждого
scores = cross_val_score(clf_rf, x_train, y_train, cv=2)
print(scores)  # [0.8  0.75]
 
# кстати рабить на обучающую выборку и тестовую можно функцией
X_train, X_test, Y_train, Y_test = train_test_split(x_train, y_train, test_size=0.2)
# print(X_test, Y_test)  # [[5, 6], [-3, 4]] [1, 0]

clf_rf.fit(X_train, Y_train)
predictions = clf_rf.predict(X_test)

sum(predictions == Y_test)/sum([1 for x in Y_test])

#### Предобработать test_data

In [ ]:
test_data["LName"] = list(map(lambda x: x[:x.find(',')], test_data["Name"]))
test_data["Age"].fillna(test_data["Age"].median(), inplace=True)
test_data["Sex"] = make_conv(test_data, "Sex", conv)
test_data["Pclass"] = [1/x for x in test_data["Pclass"]]
test_data["Embarked"].fillna("N", inplace=True)
test_data["Embarked"] = make_conv(test_data, "Embarked", conv)
test_data["CabinL"] = list(map(lambda x: re.findall(r'[A-Za-z]', x)[-1], test_data["Cabin"].fillna('Z')))
test_data["CabinL"] = make_conv(test_data, "CabinL", conv)
test_data["CabinN"] = list(map(lambda x: int((re.findall(r'\d+', x) or [1])[-1]), test_data["Cabin"].fillna('0')))

In [ ]:
from sklearn.ensemble import RandomForestClassifier

y = train_data["Survived"]

features = ["Pclass", "Sex", "Parch"]
X = train_data[features]
X_test = test_data[features]

model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model.fit(X, y)
predictions = model.predict(X_test)

output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
output.to_csv('./output/my_submission.csv', index=False)
print("Your submission was successfully saved!")

In [ ]:
train_data